body footer {
    height: 0!important;
    margin-top: 0!important;
}

body main {
    /* Footer Height (0px) + Padding (25px) */
    padding-bottom:25px!important;
}

body main .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media only screen and (max-width : 575px) {
    body main {
        min-height: 100%;
    }
}
