html, body {}

    body .navbar {
        background-color: #003865!important;
    }

    body footer {
        position: relative;
        margin-top: -250px;
        height: 250px;
        clear:both;
        padding-top:20px;
        background-color: #F7F7F7;
    }

        body footer h2 {
            font-family: "Roboto Slab",serif;
            color: #003865;
        }

        body footer ul {}

            body footer ul li {
                color: #003865;
            }

                body footer ul li a {
                    color: #003865;
                }

body main {
    /* Footer Height (250px) + Padding (25px) */
    padding-bottom:275px;
}

body main #breadcrumb a,
body main #breadcrumb a:link,
body main #breadcrumb a:visited,
body main #breadcrumb a:active {
    color: #0075B0!important;
}

body main ul.pagination li.page-item.active a {
    background-color: #0075B0!important;
    border-color: #0075B0!important;;
}

body footer {
    position: relative;
    margin-top: -250px;
    height: 250px;
    clear:both;
    padding-top:20px;
    background-color: #F7F7F7;
}

body footer h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
}

body footer ul {
    margin: 0;
    padding: 0;
}

body footer ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width : 575px) {
    body main {
        min-height: 0;
    }

    body footer {
        text-align: center;
    }
}

@media only screen and (max-width : 768px) and (min-width : 575px) {
    body footer {
        height: 300px;
        margin-top: -300px;
    }
}

@media only screen and (max-width : 992px) and (min-width : 768px) {
    body footer {
        height: 275px;
        margin-top: -275px;
    }
}

/******************************************************************************
 * Bootstrap Button Override
 ******************************************************************************/

.btn-primary {
    color: #fff;
    background-color: #0075B0!important;  /* UofG Cobalt */
    border-color: #0075B0!important;      /* UofG Cobalt */
}

.btn-primary:hover {
    background-color: #005682!important;
    border-color: #005682!important;
}
